body {margin:0;}


ul {
  font-family: georgia;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: grey;
  position: fixed;
  top: 0;
  width: 100%;
  padding-left: 20px;
  padding-right: 30px;


}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  padding-top: 40px;
  text-decoration: none;

}

li a:hover:not(.active) {
  background-color: #D5D3CA;
}

.active {
  background-color: #FFFFFF;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

img.two {
height: 100%;
width: 100%;
}
